/* 
    MILESTONE PROJECT 1 by MIKHAILA BURGESS
    STYLESHEET FOR WAH KONG II WEBSITE
    ---------------------------------------

    SECTION ORDER
        - GENERAL PADDING/MARGINS/TEXT
        - COLOR PALETTE
        - LOGO and NAV MENU
        - HERO IMAGES
        - CARDS
        - INDEX PAGE-SPECIFIC
        - GALLERY PAGE-SPECIFIC
        - FILMING PAGE-SPECIFIC
        - CONTACT PAGE-SPECIFIC
        - FOOTER
        - MEDIA QUERIES (BOOTSTRAP BREAKPOINTS)
*/

/* Font selection inspired by https://www.fontpair.co/pairings/karla-merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Merriweather:wght@300');


/* - GENERAL PADDING/MARGINS/TEXT  -------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Karla', sans-serif;
    color:  var(--mastbrown);
}

h2, h3 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    color: var(--mastbrown);
}

h2 {
    font-size: x-large;
    letter-spacing: 4px;
}

h3 {
    font-size: large;
    letter-spacing: 2px;
}

.largeicon {
    font-size: xx-large;
    padding: 2px;
}

.disclaimer {
    font-size: smaller;
    font-style: italic;
}

a {
    font-weight: bold;
    color: var(--cockpitbrown);
}

.page-divider {
    width: 90%;
    margin: 20px 5%;
}

/* vertical & horizontal alignment from  https://www.w3schools.com/howto/howto_css_center-vertical.asp */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* - COLOR PALETTE ------------------------------------ */
:root {
    --wavesblue: rgba(208, 223, 228, .9);
    --wavesblue-light: rgba(208, 223, 228, .2);
    --skyblue: #67A3DF;
    --coverblue: #2D82DC;
    --mastbrown:#6D523D; 
    --cockpitbrown: #965825;
}


/* - LOGO and NAV MENU -------------------------------- */
header {
    padding-bottom: 5px;
}

#logo { /* Yacht Name - Wah Kong II */
    float: left;
    font-size: 200%;
    margin-left: auto;
    margin-top: 15px;
}
  
#menu {
    font-family: 'Merriweather', sans-serif;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: auto;
    display: inline-flex;
}
  
#logo, #menu {
    line-height: 50px;
}
  
#menu li {
    float: right;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
  
#menu a:hover {
    font-weight: bold;
    color: var(--cockpitbrown);
    /* border-bottom: 1px solid var(--mastbrown); */
}
  
.active {
    font-weight: bold;
    border-bottom: 1px solid  var(--mastbrown);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: right;
}


/* - HERO IMAGES -------------------------------------- */
#main-hero-image {
    background: url("../images//hero-images/main-image.jpg") no-repeat center center;
    background-size: cover;
}

#gallery-hero-image {
    background: url("../images/hero-images/evening.jpg") no-repeat center center;
    background-size: cover;
}

#contact-hero-image {
    background: url("../images/hero-images/crew.jpg") no-repeat center center;
    background-size: cover;
}

#filming-hero-image {
    background: url("../images/hero-images/sailing.jpg") no-repeat center center;
    background-size: cover;
}

/* standard settings for all hero images */
.hero-image {
    clear: both;
    height: 200px; /* above xs, varies according to viewport */
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 200px; /* above xs, varies according to viewport */
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

@keyframes hero-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

#cover-text,  #cover-text h2, #cover-text h3 {
    color: var(--mastbrown);
    text-align: right;    
}
  
#cover-text {
    font-size: 10%;
    font-family: Merriweather;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 200px;
    height: 150px;
    padding-top: auto;
    padding-left: auto;
    padding-right: 1px;
    background-color: var(--wavesblue);
    bottom: 5%;
    right: 2%;
    position: absolute;
}


/* - CARDS -------------------------------------------- */
.card-deck{
    margin-left: 5px;
    margin-right: 5px;
}

.card { /* standard card style to be used across the site */
    font-size: 1em;
    padding: 0px;
    margin: 5px 0px;
    border: none;
}
  
.card-header { /* to be added to <h*> to enable styling of card headers */
    font-family: 'Karla', sans-serif;
    font-size: large;
    font-weight: bold;
    color:  var(--mastbrown);
    padding: 10px 5px;
    border-radius: 1em;
}
  
.card-body {
    font-family: 'Karla', sans-serif;
    font-size: medium;
    color:  var(--mastbrown);
    background-color: var(--wavesblue-light);
    padding: 0px;
    border-radius: 1em;
}

.card-text {
    font-size: medium;
    padding: 5px 10px;
}

.card-title {
    font-family: 'Karla', sans-serif;
    font-size: large;
    font-weight: bold;
    color:  var(--mastbrown);
    padding: 10px 10px;
    border-radius: 1em;
}
  

/* - INDEX PAGE-SPECIFIC ------------------------------ */
#info-cards .card {
    height: 100%;
}

#video-section h5 {
    text-align: center;
}

#main-video { /* display video in centre of viewport */
    display: flex;
    justify-content: center;
    padding: 5px 15px;
}

video {
    height: 85%;
    width: 85%;
}


/* - GALLERY PAGE-SPECIFIC  --------------------------- */
#gallery-introduction {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Karla, sans-serif;
    font-size: large;
    color:  var(--mastbrown);
    text-align: center;
}

/* .img-responsive {
    width: 100%;
    height: auto;
} */
  
#photo-gallery .row { /* add side margin to gallery rows */
    margin: 0px 2%;
}
  
.gallery-image { /* add space between each gallery image */
    padding: 5px;
}

.gallery-image p { /* add spacing around descriptions for clarity */
    padding: 5px;
}

/* - FILMING PAGE-SPECIFIC  --------------------------- */
#movie-trailer { 
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 5px 20px;
}

#movie-gallery .row { /* add side margin to gallery rows */
    margin: 0px 2px;
}

#movie-gallery .card-body {
    padding: 5px;
    margin: 5px;
}


/* - CONTACT PAGE-SPECIFIC  --------------------------- */
#contact-section {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: center; */
}

#contact-form-block {
    display: block;
    margin: 0 auto auto auto;
}

#contact-form form {
    margin: 10px;
    padding: auto;
    font-size: 0.9em;
}

.form-control {
    font-style: italic;
    font-size: smaller;
}

.form-control:hover {
    border-color: var(--cockpitbrown);
}

.form-check {
    margin: auto;
}

.site-button { /* standard style for all site buttons */
    border-radius: 10px;
    padding: 10px 28px 10px 28px;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--wavesblue);
    color: var(--cockpitbrown);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
    display: block;
}

.site-button:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.24), 0 15px 25px 0 rgba(0,0,0,0.19);
}

#location-map-block {
    display: block;
    margin: 0 auto auto auto;
}

#location-map iframe {  /* mobile first design - dimensions adjusted by media queries */
    margin-top: 10px;
    border: solid 1px lightgray;
    width: 80vw; 
    height: 25vh;
}


/* - FOOTER ------------------------------------------- */
footer {
    background-color: var(--wavesblue);
    color: var(--mastbrown);
    padding: 8px 0px 8px 0px;
}
  
.copyright-notice {
    text-align: left;
    margin: auto;
}
  
.social-networks { /* alighned center on extra small viewports only */
    text-align: center;
    margin: auto;
    
}
  
.social-networks li a {
    color: var(--cockpitbrown);
    font-size: 1.2rem;
    letter-spacing: 1.2rem;
}


/* - MEDIA QUERIES (BOOTSTRAP BREAKPOINTS)  ----------- */

/* Extra small devices (portrait phones, less than 576px) */
/*  - Bootstrap default - no media queries required */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .hero-image {
      height: 200px;
    }
    #hero-outer {
      height: 200px;
    }  
    .social-networks {
        text-align: right;
        margin: auto;
    }
}
  
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-image {
      height: 250px;
    }
    #hero-outer {
      height: 250px;
    } 
    .card-deck{
        margin-left: 0px;
        margin-right: 0px;
    }
    #location-map iframe {  
        width: 40vw; 
        height: 40vh;
    }
    .page-divider {
        width: 80%;
        margin: 20px 10%;
    }
    .responsive-divider {
        border: none;
    }
    #movie-trailer { 
        width: 560px;
        height: 315px;
        border-radius: 5%;
    }
}
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
      font-size: 0.9em;
    }    
    .hero-image {
        height: 300px;
    }
    #hero-outer {
        height: 300px;
    }
    #cover-text {
          width: 220px;
          height: 165px;  
          bottom: 6%;
          right: 3%; 
    }
    #cover-text h2 {
          padding-right: 5px;    
    }
    video {
        height: 75%;
        width: 75%;
    }
    #location-map iframe {  
        width: 40vw; 
        height: 50vh;
    }
    #movie-gallery {
        margin: 2px 1erm;
    }
    #movie-gallery .row { /* add side margin to gallery rows */
        margin: 0px 2em;
    }   
    #movie-gallery .card-body {
        padding: 2px;
        margin: 2%;
    }
}
  
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: 1.2rem;
    }  
    #cover-text {
        width: 240px;
        height: 170px;  
        bottom: 8%;
        right: 4%;
    }
    #cover-text h2, h3 {
        padding-right: 6px;
    }
    #movie-gallery .row { /* add side margin to gallery rows */
        margin: 0px 1px;
    }   
    #movie-gallery .card-body {
        padding: 2px;
        margin: 5px;
    }
 }
